<!DOCTYPE html>
<html>
<head>
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <h1>Hi, I'm Kowshika 👩‍💻</h1>
        <p>IT Student | Aspiring Data Analyst</p>
    </header>

    <section>
        <h2>🚀 My Project</h2>
        <p>DevOps Flask App deployed using Docker & CI/CD.</p>
    </section>

    <section>
        <h2>🛠 Skills</h2>
        <ul>
            <li>Python</li>
            <li>Flask</li>
            <li>Docker</li>
            <li>GitHub</li>
        </ul>
    </section>

    <section>
        <h2>📞 Contact</h2>
        <p>Email: yourmail@gmail.com</p>
    </section>

</body>
</html>
